@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #328E6E;
  --cor-secundaria: #90C67C;
  --cor-fonte-principal: #0f2e4b;
  --cor-fonte-post: #444444;
  --cor-fonte-terciaria: #E1EEBC;
  --branco: #fff;
  --fonte-principal: "Signika", sans-serif;
  --fonte-secundaria: "Noto Sans", sans-serif;

  font-family: var(--fonte-principal);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}